project:
  type: book
  output-dir: docs
  render:
    - "*.qmd"
    - "!WIP/"

book:
  editor: source
  title: "Field Guide to the R Mixed Model Wilderness"
  author: ["Harpreet Kaur", "Julia Piaskowski"]
  date: "April, 2025"
  image: "img/cover.jpg"
  favicon: img/logo_transparent.png
  page-navigation: true
  twitter-card: true
  google-analytics: "G-ZZST40VXE1"
  repo-url: https://github.com/IdahoAgStats/mixed-models-in-R
  repo-actions: [source, issue]
  back-to-top-navigation: true

  navbar: 
    background: "#e1e5eb"  
    foreground: "#000101"

  sidebar:
    style: docked
    background: light
    search: true
    logo: "img/hexLogo.png"
    align: center
    tools: 
      - icon: github
        href:  https://github.com/IdahoAgStats/mixed-models-in-R

  chapters:
    - index.qmd
    - href: chapters/intro.qmd
      text: Introduction
    - href: chapters/analysis-tips.qmd
      text: Zen and the Art of Statistical Analysis
    - href: chapters/background.qmd
      text: Mixed Model Background
    - href: chapters/model-flow.qmd
      text: Model Prep & Workflow
    - part: "Experiment designs"
      collapse-below: "lg"
      chapters:
        - chapters/rcbd.qmd
        - href: chapters/factorial-design.qmd
          text: Factorial RCBD Design
        - chapters/split-plot-design.qmd
        - chapters/split-split-plot-design.qmd
        - chapters/strip-plot.qmd
        - chapters/incomplete-block-design.qmd
        - chapters/latin-design.qmd
    - href: chapters/repeated-measures.qmd
      text: Repeated Measures
    - href: chapters/means-and-contrasts.qmd
      text: Marginal Means and Contrasts
    - href: chapters/variance-components.qmd
      text: Variance and Variance Components
    - chapters/troubleshooting.qmd
    - chapters/additional-resources.qmd
    - references.qmd
  page-footer:
    left: "&copy; 2025"
    center: |
      [![](https://github.com/IdahoAgStats/r-for-ag-scientists/raw/main/images/UI_Main_horizontal_4c.png){fig-alt="Uidaho Logo" width=50%}](https://www.uidaho.edu)


bibliography: references.bib
bibliographystyle: nature.csl
reference-location: margin
citation-location: document
      
format:
  html:
    theme: yeti
    page-layout: full
    grid:
      margin-width: 300px
    code-overflow: wrap
    code-copy: true
    css: styles.css
    include-in-header:
      - file: custom_head_content.html
  
  #pdf:
   # documentclass: scrreport

code:
  wrap: true


