.perform {
    height: 900px !important;
}

a.external::after {
  content: none;
  background-image: none; 
}

.mermaid {
  font-size: 24px; /* Adjust as needed */
}

/* Optional: Make SVG diagrams scale nicely */
.mermaid svg {
  width: 100%;
  max-width: 1000px;
  height: auto;
}

.download-button {
  background-image: url('/img/cloud-arrow-down-solid.svg'); /* Path to your local SVG icon */
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: 20px 20px; /* Adjust the size as needed */
  display: inline-block;
  padding: 10px 20px;
  padding-left: 45px;
  background-color: none; 
  color: #191919;
  text-decoration: none;
  border: 2px solid  #F1B300;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
    ransition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }

.download-button:hover {
    background-color: #F1B300; 
  }
  
.blockquote {
  line-height: 1.5; /* Improve text readability */
  padding-top: 35px;
  padding: 1.5rem 1rem;
  background-color: #FAF9F6;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  color: #5c5c5c;
  font-size: 95%;
  margin-left: 1.5rem;
  border: none;
  font-family: 'Overpass Mono',  Courier, monospace;
  font-style: normal;
}


