@font-face {
  font-family: "Redacted";
  src: url("fonts/Redacted-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Redacted Script";
  src: url("fonts/RedactedScript-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Redacted Script";
  src: url("fonts/RedactedScript-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Redacted Script";
  src: url("fonts/RedactedScript-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

.redacted,
.redacted * {
  font-family: "Redacted", sans-serif !important;
}

.redacted-script,
.redacted-script * {
  font-family: "Redacted Script", cursive !important;
}

.redacted-script-light,
.redacted-script-light * {
  font-family: "Redacted Script", cursive !important;
  font-weight: 300 !important;
}

.redacted-script-bold,
.redacted-script-bold * {
  font-family: "Redacted Script", cursive !important;
  font-weight: bold !important;
}
